body,
html {
  margin: 0;
  padding: 0;
}

.carousel-status {
  visibility: hidden;
}
.pagination {
  display: flex;
  border: 1px solid #94a3b8;
}
.pagination li {
  border: 1px solid #94a3b8;
  padding: 0 10px 0 10px;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  cursor: pointer;
}

/* .carousel .slide img {
  object-fit: contain;
  height: 100%; 
  width: 100%;
} */

.divShadow {
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
}
